.banner{
    width: 1226px;
    height: 460px;
    margin: 20px 18px;
    background: #FFFFFF;
    position: relative;
}
.imgBox{
    width: 100%;
    height: 100%;
    background: #43a724;
}
.imgBox .imgContent , .imgContent .imgList , .imgList a , .imgList a img{
    width: 100%;
    height: 100%;
    display: block;
}
.imgList{
    left: 0;
    top: 0;
    position: absolute;
}
.imgBox .leftBtn{
    width: 35px;
    height: 70px;
    background: #555555;
    position: absolute;
    left: 234px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.imgBox .rightBtn{
    width: 35px;
    height: 70px;
    background: #555555;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.banner .category{
    width: 234px;
    height: 460px;
    padding: 20px 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    position: absolute;
}
.category .categoryDesc{
    height: 42px;
    width: 234px;
}
.category .categoryA {
    height: 42px;
    width: 234px;
    background: rgba(0,0,0,0.5);
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 42px;
    display: block;
}
.categoryDesc:hover .categoryA {
    background: #f38009;
}
.categoryA i{
    float: right;
}